<div id ="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#" id="title"><b>Sriram V</b></a>
    <button class="navbar-toggler" type="button" 
     (click)="toggleClick()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [style.display]="isNavbarOpen ? 'block' : 'none'">
      <ul class="navbar-nav">
        <li class="nav-item active" id="home">
          <a class="nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item" id="experience">
          <a class="nav-link" routerLink="/experience">Experience</a>
        </li>
        <li class="nav-item" id="about">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item" id="contact">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>

<router-outlet></router-outlet>