<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
</head>
<body>
    <div class="regform">
        <h3>SignUp</h3>
        <form action="#">
            <div class="inputFields">
                <div class="input">
                    <label class="inputLabel" for="name">Username:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="input">
                    <label class="inputLabel" for="emailId">Email ID:</label>
                    <input type="email" name="emailId" id="emailId">
                </div>
                <div class="input">
                    <label class="inputLabel" for="passwd"> Password:</label>
                    <input type="password" name="passwd" id="passwd">
                </div>
                <div class="radio">
                    <input type="radio" name="gender" id="male" name="male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="female" name="female">
                    <label for="female">Female</label>
                </div>
                <div class="submit">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>