 
body{
    background: url("../../assets/images/bg.jpg");
    /*background-size:100%;*/
    background-size: cover;
    padding: 2% 2%;
    width: 100%;
    height: 100%;
}

.regform{
    width: 500px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3 );
    margin: 160px auto;
    padding: 10px 20px 30px;
    font-size: 30px;
    border-radius: 10px;
}

.regform h3{
    color: chocolate;
    text-align: center;
}

.regform .inputLabel{
    display: block;
}
.input input{
    width: 100%;
    font-size: 0.75em;
    border: 1px solid blue;
    padding: 5px;
    box-shadow: 2px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 5px 0px 15px;
}
input:focus{
    background-color: beige;
}
.submit{
    text-align: center;
}
.button{
    /* text-align: center; */
    background-color: blue;
    color: white;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    border-color: 1px solid violet;
    box-shadow: 2px;
}

.radio input{
    accent-color: rgb(130, 130, 216);
    
}