<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center pt-5">
            <img id ="profile" height="450px" width="300px" src="../../assets/images/profile.jpg">
        </div>
        <div class="col-md-8" id="objective">
            <h1 class="pt-5 text-center">Hii, Im Mark Zukerberg</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem dignissimos cum eius suscipit laudantium molestias libero voluptatibus culpa inventore, rem praesentium. Dolorem, voluptatem nemo ipsam ipsa facilis pariatur repellendus impedit!</p>
        </div>
    </div>
</div>